/*!******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/css/styles.css ***!
  \******************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: "Montserrat", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.l-wrapper {
  text-align: justify;
  max-width: 1700px;
}

.l-header {
  background-color: #2E87B4;
  width: 16vw;
  height: 100vh;
  padding: 0 2%;
  position: fixed;
}

.l-header__inner {
  text-align: center;
}

.l-header-nav {
  margin-top: 60%;
}

.l-header-nav__item {
  background-color: #D9D9D9;
  padding: 20px;
  margin-top: 25px;
}

.l-header-nav__subItem {
  display: none;
}

.l-main {
  background-color: #AADBF4;
  padding-left: 18%;
}

.l-main-inner {
  background-color: #fff;
}

.l-inner {
  margin: 0 auto;
}

.c-title {
  font-size: 2rem;
  font-weight: bold;
}

.c-group {
  color: #A6A6A6;
  font-size: 1.4rem;
}

.c-btn {
  background-color: #2E87B4;
  color: #fff;
  padding: 15px 40px;
  border: 0;
  border-radius: 8px;
}

.c-input-btn {
  border: 4px solid #009090;
  border-radius: 8px;
  font-weight: bold;
  padding: 10px 30px;
}

.c-register-btn {
  border: 0;
  border-radius: 8px;
  background: #2E87B4;
  color: #fff;
  display: block;
  padding: 20px 0;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

input[type=checkbox] {
  accent-color: #fff;
}

.c-input-checkbox {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}

input[type=checkbox] {
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* 他のブラウザ */
  width: 20px;
  height: 20px;
  border: 2px solid #000; /* 枠線の色と太さ */
  border-radius: 3px; /* 角の丸みを追加する場合 */
  position: relative;
  cursor: pointer;
}

/* チェックマークのスタイル */
input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 6px;
  height: 10px;
  border: solid #000; /* チェックマークの色 */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.c-input {
  width: 180px;
  height: 35px;
  color: #333;
  outline: 1px solid;
  margin-left: 10px;
  padding-left: 10px;
}

.c-input-radio {
  width: 20px;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}

.c-pagination {
  background-color: #ddd;
  margin-top: 40px;
  padding: 10px 20px;
  width: 300px;
}

.c-pagination__inner {
  display: flex;
  justify-content: space-around;
}

.c-pagination__prev__arrow {
  margin-right: 15px;
  margin-top: 5px;
}

.c-pagination__next__arrow {
  margin-left: 15px;
  margin-top: 5px;
}

.c-pagination__radius {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 50px;
  width: 25px;
  height: 25px;
}

.c-pagination__radius:nth-child(7) {
  border: none;
}

.c-pagination__radius__text {
  font-size: 12px;
}

.c-register-bg {
  background-color: #fff;
}

table {
  border-collapse: collapse;
  text-align: center;
}

.c-register-textarea {
  text-align: left;
  width: 400px;
  height: 400px;
  outline: 1px solid;
  margin-top: 15px;
  padding-left: 10px;
}

.c-th {
  border: 1px solid;
  padding: 10px 40px;
  white-space: nowrap;
}

.c-td {
  border: 1px solid;
  padding: 10px 40px;
  white-space: nowrap;
}

.p-appli {
  /* 表の作成 */
}

.p-appli-main {
  padding-left: 18%;
  padding-bottom: 2%;
}

.p-appli__inner {
  padding-top: 4%;
}

.p-appli__title {
  margin-top: 20px;
}

.p-appli-btn__inner {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.p-appli__input__btn {
  margin-left: 40px;
}

.p-appli__filter {
  position: absolute;
  right: 16%;
  width: 70px;
  height: 70px;
}

.p-appli__pagination {
  margin-left: 60%;
}

.p-appliRegister {
  padding-bottom: 60px;
}

.p-appliRegister-main {
  padding-top: 20px;
  padding-right: 7%;
  padding-bottom: 0;
}

.p-appliRegister__btn__inner {
  margin-left: 6%;
  margin-top: 20px;
}

.p-appliRegister-border {
  border: 0.5px solid;
  margin-top: 30px;
  width: 80%;
  margin-left: 4%;
}

.p-appliRegister__create {
  margin-top: 20px;
  margin-right: 150px;
  text-align: right;
}

.p-appliRegister__create__title {
  display: inline-block;
  font-size: 24px;
}

.p-appliRegister__create__data {
  display: inline-block;
  margin-left: 10px;
}

.p-appliRegister__inner {
  padding-left: 6%;
}

.p-appliRegister-input-box {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.p-appliRegister-input-box label {
  font-size: 20px;
  display: inline-block;
  width: 100px;
}

.p-appliRegister-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 600px;
}

.p-appliRegister-gender__ca {
  margin-left: 48px;
}

.p-appliRegister-birth .age-label {
  width: 60px;
  margin-left: 20px;
}

.p-appliRegister__email label {
  width: 150px;
  margin-left: 20px;
}

.p-appliRegister-selection {
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  width: 600px;
}

.p-appliRegister-selection__number {
  margin-left: 15px;
}

.p-appliRegister-schCa {
  justify-content: space-around;
}

.p-appliRegister-ca__comment label {
  width: 150px;
}

.p-appliRegister-newGraduate {
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  width: 600px;
}

.p-appliRegister-newGraduate__container {
  margin-top: 30px;
}

.p-appliRegister-newGraduate__title {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.p-appliRegister-newGraduate__title::before {
  content: "▶";
  font-size: 30px;
  padding-right: 10px;
}

.p-appliRegister-halfway label {
  font-size: 20px;
  display: inline-block;
  width: 160px;
}

.p-appliRegister-halfway__container {
  margin-top: 30px;
}

.p-appliRegister-halfway__title {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.p-appliRegister-halfway__title::before {
  content: "▶";
  font-size: 30px;
  padding-right: 10px;
}

.p-appliRegister-btn {
  margin-top: 80px;
}

.u-block {
  display: block !important;
}

.u-flex {
  display: flex;
}

.u-margintop-30 {
  margin-top: 30px;
}

.u-marginleft-40 {
  margin-left: 40px;
}

.u-birth-unit {
  margin: 0 5px 0 15px;
}

.u-width-160 {
  width: 160px;
} 
